.header {
    max-width: 1054px;
    padding: 0 28px;
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    width: 120px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.header__content-item {
    cursor: pointer;
    transition: opacity .2s linear;
}

.header__content-item:hover {
    opacity: .7;
}

.header__content-counter {
    position: absolute;
    right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFA542;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}